# Application
PORT=3000

# Database URL for Docker (used by docker-compose)
DOCKER_DATABASE_URL=mongodb://mongodb:27017/libraryAppPrisma?directConnection=true&replicaSet=rs0

# Database URL for local development
DATABASE_URL=mongodb://localhost:27017/libraryAppPrisma?directConnection=true&replicaSet=rs0
